/*
.App {
    text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
    color: #61dafb;
}
*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
 /*width:64vh;*/
}

.row {
    margin-right: 0% !important; /* bootstrap psuje szerokosc??*/
    /* background-color: #d3d3d3; */ /*Tlo*/
}

.nav-link {
    cursor: pointer /* bootstrap zepsuty navlink dla myszki??*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}



.Card {
    text-align: center;
}

.card-deck
{
    margin: 0px !important;
}

img {
    pointer-events: none;

    user-select: none;
}

.card-subtitle {
    font-size: 12px;
}
footer {
    font-size:  12px;
    padding-right: 1%;
    float: right;
}

.NotFoundClass {
    margin-top: 10%;
}

a.links {
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer;
}

a.links:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}

.control-dots
{
    width:90% !important;
}


.darkmode-toggle
{
    z-index:1;
}

.darkmode--activated p, .darkmode--activated nav {
    color: white !important;
    background-color: #191919 !important;
    border-color: white !important;
}
.darkmode--activated div.flag-options {
    color: white !important;
    background-color: black !important;
    border-color: white !important;
}

.darkmode--activated .Card {
    color: white !important;
    background-color: black !important;
    border-color: white !important;
}

.darkmode--activated a:hover > .btn:not(:first-child),
.darkmode--activated a:hover .text-home,
.darkmode--activated a:hover .fa,
.darkmode--activated .nav-link > a:hover /*,
.darkmode--activated a:hover div.flag-options */ {
    color: grey !important;
}
.darkmode--activated a {
    color: white !important;
}


